
$s3bucket: 'proggresi' !global;
$primary_color: #2d709c;
$primary_color_dark: #00adff;

:root {
    --primary-color: #{$primary_color};
    --primary-color-rgb: #{toRGB($primary_color)};
    --light-grey-2dp: #f4f4f4;
    --light-grey-3dp: #dfdfdf;
}
