<form name="passwordForm" [formGroup]="passwordForm" (ngSubmit)="submit()">

    <div *ngIf="!loading" class="s-flex">
        <ser-form-element plain>
            <label>{{ "old_password" | translate }}</label>
            <div class="input-group">
                <input serControl name="old_password" type="password" formControlName="old_password" />
                <span class="addon password" [title]="'toggle_password_visibility' | translate">
                    <mat-icon (click)="toggleVisibility($event)">visibility_off</mat-icon>
                </span>
            </div>

            <div serErrors="old_password">
                <div serError="required">{{ 'required' | translate }}</div>
            </div>
        </ser-form-element>

        <ser-form-element plain>
            <label>{{ "new_password" | translate }}</label>
            <div class="input-group">
                <input serControl name="new_password" type="password" formControlName="new_password" />
                <span class="addon password" [title]="'toggle_password_visibility' | translate">
                    <mat-icon (click)="toggleVisibility($event)">visibility_off</mat-icon>
                </span>
            </div>

            <div serErrors="new_password">
                <div serError="required">{{ 'required' | translate }}</div>
                <div serError="pattern" when="dirty">{{ 'password_pattern_error' | translate }}</div>
            </div>
        </ser-form-element>

        <ser-form-element plain>
            <label>{{ "password_confirmation" | translate }}</label>
            <div class="input-group">
                <input serControl name="confirm_password" type="password" formControlName="confirm_password" />
                <span class="addon password" [title]="'toggle_password_visibility' | translate">
                    <mat-icon (click)="toggleVisibility($event)">visibility_off</mat-icon>
                </span>
            </div>

            <div serErrors="confirm_password">
                <div serError="required">{{ 'required' | translate }}</div>
                <div serError="match" when="dirty">{{ 'password_match_error' | translate }}</div>
            </div>
        </ser-form-element>
    </div>

    <div *ngIf="loading" class="s-flex">
        <div class="shimmer input"></div>
        <div class="shimmer input"></div>
        <div class="shimmer input"></div>
    </div>

    <button *ngIf="!loading" type="submit" class="bttn" [disabled]="passwordForm.invalid">{{ "update" | translate}}</button>

</form>
