<form name="modelForm" [formGroup]="modelForm" (ngSubmit)="submit()">

    <div class="img-cropped-wrapper">
        <!-- <button type="button" class="clean-file" [title]="'delete_file' | translate" ngI="modelFilesForm.photo || modelForm.photo != null" ng-click="clearValue('photo')">
            <mat-icon>close</mat-icon>
        </button>

        <div class="preview" *ngIf="checkValue(1, 'photo')" ng-style="{ 'background-image': 'url(' + Model.photo + ')'}"></div>
        <div class="preview" *ngIf="checkValue(2, 'photo')" ngf-background="ModelFiles.photo"></div>
        <div class="preview no-image" *ngIf="checkValue(3, 'photo')"></div>

        <button *ngIf="!state.loading" type="button" class="add-file" name="photo" [title]="'file_upload' | translate" ngf-select="setImage('photo', $file)" ngf-pattern="'image/*,'">
            <mat-icon>photo_camera</mat-icon>
        </button> -->

        <div ng-messages="FormsWrapper.MainForm.photo.$error">
            <div ng-message="pattern">{{ 'only_allowed_images' | translate }}: PNG, JPG, SVG</div>
        </div>
    </div>

    <div *ngIf="!(state.loading || state.isSaving)" class="s-flex" style="overflow: auto;">

        <ser-form-element>
            <label>{{ 'name' | translate }}</label>
            <input serControl name="name" formControlName="name" maxlength="50" />

            <div serErrors="name">
                <div serError="required">{{ 'required' | translate }}</div>
            </div>
        </ser-form-element>

        <ser-form-element>
            <label>{{ 'last_name' | translate }}</label>
            <input serControl name="last_name" formControlName="last_name" maxlength="50" />
        </ser-form-element>

        <ser-form-element>
            <label>{{ 'email' | translate }}</label>
            <input serControl type="email" name="email" formControlName="email" maxlength="50" />

            <div serErrors="email">
                <div serError="required">{{ 'required' | translate }}</div>
                <div serError="pattern">{{ 'email_error' | translate }}</div>
            </div>
        </ser-form-element>

        <ser-form-element>
            <label>{{ 'phone' | translate }}</label>
            <input serControl name="phone_number" formControlName="phone_number" />
        </ser-form-element>

    </div>

    <div *ngIf="state.loading || state.isSaving" class="s-flex">
        <div class="shimmer input"></div>
        <div class="shimmer input"></div>
        <div class="shimmer input"></div>
        <div class="shimmer input"></div>
    </div>

    <button *ngIf="!(state.loading)" type="submit" class="bttn" [disabled]="modelForm.invalid || state.isSaving">{{ 'update' | translate }}</button>

</form>
